<!--The content below is only a placeholder and can be replaced.-->
<div id="header">
<h1 > {{"QKDN WEB"}}</h1>
</div>
<ul>
  <li><a class="active" href="topology">Topology</a> </li>
  <li><a href="Resources">Resources</a> </li>
  <li><a href="Routing">Routing</a> </li>
</ul>
<div class="row">

<div class="container" >
  <div id="topology" style="background-color: white; text-align: center;  float: left ">
    <h3>NSFNET TOPOLOGY</h3>
    <graph [nodes]="nodes" [links]="links"></graph>
  </div>
  <div id="Initial Network Resource" style="background-color: white;  float: left">
    <div id="Link" style="background-color: white; text-align: center;float: left">
      Each link wavelength number: 80</div>
    <div id="KEY" style="background-color: white;text-align: center;float: left">
      Each node Quantum Key Pool Numbers :10000</div>
  </div>
</div>

<!div class="container" >
  <!app-resource><!/app-resource>
<!/div>


<!div class="container" >
  <!h3><!/h3>
<!/div>

</div>


